<div class="footer <%if(type=='home'){%> home <%}%>">
  <br /> 共搜集到
  <span id="commands_info">
    <%=describe.command_length?describe.command_length:''%>
  </span> 个Linux命令，超过 <a href="<%=relative_path%>contributors.html">50+</a> 贡献者
</div>
